@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins&display=swap');

 *{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

.main-div{
    display: flex;
    justify-content: center;
    background-color: purple;
}
.nav-link li{
    display: inline-block;
    padding:  10px 15px;
}
.text{
    padding:  10px 15px;
}
.nav-link li:hover{
    background-color: salmon;
}

.nav-link li:hover a{
    color: black;
}
.nav-link li a{
    text-decoration: none;
    color: white;
}